@model TAMS.Entity.Models.User

@{
    var listUsers = ViewData["ListUser"] as Tuple<List<TAMS.Entity.Models.User>, int>;
    Layout = "~/Areas/Admin/Views/Shared/Layout1.cshtml";
    ViewBag.Title = "Index";
}
<div class="content-wrapper" style="margin-left: 0px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Manager</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            @using (Html.BeginForm("Index", "UserManager", FormMethod.Get))
            {
                <div class="row justify-content-between">
                    <div class="dataTables_length row ml-4" id="example1_length" >
                        <label>
                            Show
                        </label>
                            <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> 
                    </div>
                    <div class="input-group input-group-sm w-25 row" >
                        <input  class="form-control form-control-navbar m-1" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <div>
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                }
           
                <div class=" row">
                    <div class="col-12">
                        <div class="card-body">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" style=" margin: -50px 0 -14px -30px;"> <a href="/Admin/UserManager/Create" style="font-size: 20px"> <i class="fas fa-plus-square"></i>Thêm Users</a></button>
                            </div>
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Avatar</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Birthday</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @for (var i=0 ; i < listUsers.Item1.Count;i++)
                                    {
                                    <tr>
                                        <td class="text-center"><img src="~/Content/Image/@listUsers.Item1[i].Avatar" height="50"></td>
                                        <td class="text-center">@listUsers.Item1[i].Name</td>
                                        <td class="text-center">@listUsers.Item1[i].Email</td>
                                        <td>@listUsers.Item1[i].Birthday</td>
                                        <td>
                                            <a class="btn-edit" href="/Admin/UserManager/Edit?id=@listUsers.Item1[i].Id" value="@listUsers.Item1[i].Id"><i class="fas fa-edit"></i>Edit</a>
                                            |
                                            <a class="btn-delete" href="/Admin/UserManager/Delete?id=@listUsers.Item1[i].Id" value="@listUsers.Item1[i].Id">
                                                <i class="fas fa-trash-alt"></i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                            <div style="display: table; margin: auto;">
                                <ul class="pagination">
                                    @for (int i = 1; i <= listUsers.Item2; i++)
                                    {
                                        if (i == 1)
                                        {
                                            <li class="page-item"><a style=" margin-top: 20px;" class="page-link bg-primary text-white" id="@i" value="@i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><a style=" margin-top: 20px;" class="page-link " id="@i" value="@i">@i</a></li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Control Sidebar -->




